body {
    background-color: darkblue;
}
main {
    width: 100%;
    height: 100hv;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: #aa0000;
}

img{

    border-radius: 20px;
}